* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 80vh;
  /* Transparent background to blend with image */
  padding: 20px;
  gap: 30px;
  border-radius: 10px;
}

.info-section {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.form-container {
  background: rgb(255, 255, 255, 0.1); /* Transparent form background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.form-container *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8px #fff;
}

input::placeholder {
  color: #fff;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 15px;
  background: #ff9800;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #e68a00;
}

a {
  color: #ff9800;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  margin-top: 10px;
}
